@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
$base-color: #F2D7D9;
section {
    background-color: $base-color;
    height: 100vh;
}
header {
    text-shadow: 2px 2px 8px black;
    h1 {
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
    }
    p{
        font-size: medium;
        margin-bottom: 10px;
    }
    button {
        background-color: #D3CEDF;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 3px 2px black;
    }
    button:hover {
        background-color: white;
    }
    div {
        height: 48px;
    }
    button:active {
        box-shadow: none;
        transform: translate(3px, 2px);
    }
}