@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
$base-color: #748DA6;
#info {
    background-color: $base-color;
    height: 100vh;
    text-shadow: 2px 2px 8px black;
    h2 {
        font-family: 'Noto Serif', serif;
    }
    div * {
        padding: 5px 0;
    }
}