* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.main {
    scroll-snap-type: y mandatory;
    height: 100vh;
}