* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}